@media only screen and (max-width: 992px) {
  .image {
    margin-top: 50px;
  }
  .single-homepage-slides {
    padding: 100px 0;
  }
}
@media only screen and (max-width: 768px) {
  .headerarea li a {
    padding: 15px;

    padding-left: 20px;
  }
  .right {
    text-align: center;
  }
}
